@import url("~/.cache/wal/colors-waybar.css");

* {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @background;
    color: @background;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -1px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -1px #a7c080;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: @color5;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @foreground;
    background-color: transparent;
}

#workspaces button.urgent {
    color: #e67e8c;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #ffffff;
    border-radius: 1px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(0,0,0,0); /*#a7c080;*/
    color: @color5; /*#2d353b;*/
    font-weight: bold;
    margin-right: 7px;
}

#battery {
    background-color: rgba(0,0,0,0); /*#d699b6;*/
    color: @color5;
}

#battery.charging, #battery.plugged {
    color: #7ad4a9;
    background-color: rgba(0,0,0,0);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(0,0,0,0);
    color: #ff91a4;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: rgba(0,0,0,0);
    color: @color5;
}

#network.disconnected {
    background-color: rgba(0,0,0,0);
    color: #ff91a4;
}

#pulseaudio {
    background-color: rgba(0,0,0,0);
    color: @color5;
}

#pulseaudio.muted {
    background-color: rgba(0,0,0,0);
    color: #ff91a4;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-power {
    color: @color5;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(0,0,0,0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #142992;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
